@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}

.nav-bar { 
  background-color: #92b2ba;
  color: white;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  width: 90%;
}

.big-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
}
.big-picture {
  display: flex;
  justify-content: center;
  align-items:center;
  margin: 1rem;
  /* border: 1px green solid; */
  width: 90%;
}

.background-image{
  object-fit:cover;
  width:100%;
}

.card-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-images { 
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;

  
}

.small-picture {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.post-image {
  object-fit:cover;
  height: 400px;
  width: 100%;
}


.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}